:root {
    color-scheme: light dark;
    --primary-color: #424242;
    --secundary-color: #FEFFEA;
    --third-color: #C9C9C9;
    --accent-color: #FCFC62;
}

body {
    min-height: 100vh;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: 'Onest Variable', sans-serif;
    background: var(--primary-color);
}

.accent-color {
    color: var(--accent-color);
}

.grid-product {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(3, 380px);
    gap: 50px;
}

.img_grid {
    border-radius: 16px 16px 0px 0px;
}
